name: CI

on:
  pull_request:
  push:
    branches:
      - '**'

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_SERVICE_USER: "EHoglid-NI"
  GITHUB_SERVICE_EMAIL: "ehoglid-ni@users.noreply.github.com"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'

      - run: npm ci

      # informational only
      - run: npm outdated || exit 0

      - run: npm run build

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - run: npm ci
      - run: npm test

  lint:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - run: npm ci
      - run: npm run lint

  publish:
    runs-on: ubuntu-latest
    needs: [build, test, lint]
    if: ${{ secrets.GITHUBPAGESDEPLOYTOKEN != '' && secrets.NUGET_TOKEN != '' && startsWith(github.ref, 'refs/heads/main') }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - run: npm ci

      # Check Changelog (only for ni org)
      - if: github.repository_owner == 'ni'
        run: npm run check

      # Validate no changes to tracked files
      - name: Validate no changes to tracked files
        run: |
          echo print files with changes:
          git diff-index --ignore-space-at-eol --stat HEAD
          echo print diff or blank if no changes:
          git diff
          echo exit with error if there are changes.
          git diff-index --quiet --ignore-space-at-eol --stat HEAD

      # Release
      - name: Publish packages
        env:
          NUGET_SECRET_TOKEN: ${{ secrets.NUGET_TOKEN }}
        run: |
          git config --global user.name "${{ env.GITHUB_SERVICE_USER }}"
          git config --global user.email "${{ env.GITHUB_SERVICE_EMAIL }}"
          npm run invoke-publish
